<div class="container">
  <div class="row">
    <div class="col-6">
      <form
        class="mt-4"
        #productForm="ngForm"
        (ngSubmit)="onSubmit(productForm.valid && productForm.value)"

      >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="productId">Product</label>
            <select
              id="productId"
              class="form-control"
              name="productId"
              [(ngModel)]="receiptForm.productId"
              required
            >
              <option
                *ngFor="let product of products"
                [selected]="product.id === receiptForm.productId"
                [ngValue]="product.id"
              >
                {{ product.name }}
              </option>
            </select>
          </div>

          <div class="form-group col-md-6">
            <label for="size">Size</label>
            <select
              id="size"
              class="form-control"
              name="size"
              [(ngModel)]="receiptForm.size"
              required
            >
              <option
                *ngFor="let size of optionSize"
                [selected]="receiptForm.size === size"
                [ngValue]="size"
              >
                {{ size }}
              </option>
            </select>
          </div>

        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name">Product Quantity</label>
            <input
              [ngClass]="{
                'is-invalid': quantity.invalid && (quantity.dirty || quantity.touched)
              }"
              required
              type="text"
              class="form-control"
              id="quantity"
              placeholder="Quantity"
              name="quantity"
              #quantity="ngModel"
              [(ngModel)]="receiptForm.quantity"
            />
            <div
              *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)"
              class="invalid-feedback"
            >
              <div *ngIf="quantity.errors?.required">Product quantity is required</div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="price">Price</label>
            <input
              [ngClass]="{
                'is-invalid': price.invalid && (price.dirty || price.touched)
              }"
              required
              type="text"
              class="form-control"
              id="price"
              placeholder="Price"
              currencyMask
              name="price"
              #price="ngModel"
              pattern="^\$?([0-9]{1,3},([0-9]{3},)*[0-9]{3}|[0-9]+)(\.[0-9][0-9])?$"
              [min]="0.01"
              [ngModel]="+receiptForm.price | number: '1.2-2'"
              (ngModelChange)="updatePrice(+$event)"
            />
            <div
              *ngIf="price.invalid && (price.dirty || price.touched)"
              class="invalid-feedback"
            >
              <div *ngIf="price.errors?.required">Product price is required</div>
              <div *ngIf="price.errors?.pattern">
                Product price needs to be decimal value
              </div>
              <div *ngIf="price.errors?.min">
                Product price must be greater than zero
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="description">Description</label>
            <textarea
              [ngClass]="{
                'is-invalid':
                  description.invalid && (description.dirty || description.touched)
              }"
              required
              #description="ngModel"
              class="form-control"
              id="description"
              [(ngModel)]="receiptForm.description"
              name="description"
              rows="3"
            ></textarea>
            <div
              *ngIf="
                description.invalid && (description.dirty || description.touched)
              "
              class="invalid-feedback"
            >
              <div *ngIf="description.errors?.required">
                Product description is required
              </div>
            </div>
          </div>
        </div>
        <button
          [disabled]="!productForm.valid"
          type="submit"
          class="btn btn-primary my-3 float-right"
        >
        Submit
        </button>
      </form>
    </div>

  </div>
</div>
