<section class="product-edit mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="tab-panel">
          <tabset class="product-tabset">
            <tab heading="Edit User">
              <div class="col-lg-8">
                <app-edit-user-form
                  [user]="userFormValues"
                ></app-edit-user-form>
              </div>
            </tab>
            <tab heading="Edit Roles" *ngIf="isEdit">
              <app-edit-user-roles
                [rolesOfUser]="rolesOfUser"
                [roles]="roles"
              ></app-edit-user-roles>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</section>
