<div class="container">
  <div class="row">
    <div class="col-6">
      <form
        class="mt-4"
        #productForm="ngForm"
        (ngSubmit)="onSubmit(productForm.valid && productForm.value)"
      >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="role">Role</label>
            <select
              id="role"
              class="form-control"
              name="role"
              #role="ngModel"
              [(ngModel)]="this.roleForm"
              required
            >
              <option *ngFor="let item of roles" [ngValue]="item.name">
                {{ item.name }}
              </option>
            </select>
          </div>
        </div>

        <button
          [disabled]="!productForm.valid"
          type="submit"
          class="btn btn-primary my-3"
        >
          Submit
        </button>
      </form>
    </div>
    <div class="col-6">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                <div class="p-2">Id</div>
              </th>
              <th scope="col">
                <div class="p-2 text-uppercase">Name</div>
              </th>
              <th scope="col">
                <div class="py-2 text-uppercase">Delete</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of rolesOfUser; let i = index">
              <td class="align-middle">{{ i + 1 }}</td>
              <th class="align-middle">
                <h5>{{ item.name }}</h5>
              </th>
              <td class="align-middle">
                <button (click)="deleteRoleOfUser(item.name)" class="btn btn-danger">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
