<div class="container emp-profile">
  <form
    class="mt-4"
    #productForm="ngForm"
    (ngSubmit)="onSubmit(productForm.valid && productForm.value)"
  >
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img
          src="../../../assets/images/blank-profile.png"
          style="object-fit: cover; height: 150px;"
            alt=""
          />
          
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>CHANGE PASSWORD</h5>
          <h6>
            {{ user.email }}
          </h6>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >About</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2" *ngIf="toggleEdit == false">
        <input
          type="submit"
          class="profile-edit-btn"
          name="btnAddMore"
          value="Edit Profile"
          (click)="closeOrOpenToggleEdit()"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <p>WORK LINK</p>
          <a routerLink="/account/edit" routerLinkActive="active" href=""
            >Profile</a
          ><br />
          <a
            routerLink="/account/changepassword"
            routerLinkActive="active"
            style="color: blue"
            href=""
            >Change Password</a
          ><br />
          <a
            routerLink="/account/address"
            routerLinkActive="active"
            href=""
            >Address</a
          ><br />
          <a
            routerLink="/account/wishlist"
            routerLinkActive="active"
            href=""
            >Wish list</a
          ><br />
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <div class="row mt-2">
              <div class="col-md-6">
                <label>Password</label>
              </div>
              <div class="col-md-6" *ngIf="toggleEdit == false">
                <p>***************</p>
              </div>
              <div class="col-md-6" *ngIf="toggleEdit == true">
                <input
                  [ngClass]="{
                    'is-invalid':
                      password.invalid && (password.dirty || password.touched)
                  }"
                  required
                  class="form-control"
                  type="password"
                  placeholder="password"
                  name="password"
                  #password="ngModel"
                  [pattern]="regEx"
                  [ngModel]="formChangePassword.password"
                  (ngModelChange)="updatePassword($event)"
                />
                <div
                  *ngIf="
                    password.invalid && (password.dirty || password.touched)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="password.errors?.required">
                    Password is required
                  </div>
                  <div *ngIf="password.errors?.pattern">
                    Password is not valid
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2" *ngIf="toggleEdit == true">
              <div class="col-md-6">
                <label>Re Password</label>
              </div>
              <div class="col-md-6">
                <input
                  [ngClass]="{
                    'is-invalid':
                      repassword.invalid &&
                      (repassword.dirty || repassword.touched)
                  }"
                  required
                  class="form-control"
                  type="password"
                  placeholder="repassword"
                  name="repassword"
                  #repassword="ngModel"
                  [(ngModel)]="formChangePassword.rePassword"
                />
                <div
                  *ngIf="
                    repassword.invalid &&
                    (repassword.dirty || repassword.touched)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="repassword.errors?.required">
                    Re password is required
                  </div>
                  <div *ngIf="repassword.errors?.pattern">
                    This is not valid password
                  </div>

                </div>

              </div>
            </div>
            <div class="row mt-3" *ngIf="toggleEdit == true">
              <div class="col-md-6">
                <button
                  [disabled]="
                    !productForm.valid ||
                    formChangePassword.password !==
                      formChangePassword.rePassword
                  "
                  type="submit"
                  class="btn btn-primary my-3"
                >
                  Submit
                </button>
                <button
                  (click)="closeOrOpenToggleEdit()"
                  type="submit"
                  class="btn btn-secondary ml-2 my-3"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
