<div class="container emp-profile">
  <form
    class="mt-4"
    #productForm="ngForm"
    (ngSubmit)="onSubmit(productForm.valid && productForm.value)"
  >
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img
            src="../../../assets/images/blank-profile.png"
            style="object-fit: cover; height: 150px;"
            alt=""
          />

        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            Edit Address User
          </h5>
          <h6>
            {{ user.email }}
          </h6>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >About</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2" *ngIf="toggleEdit == false">
        <input
          type="submit"
          class="profile-edit-btn"
          name="btnAddMore"
          value="Edit Profile"
          (click)="closeOrOpenToggleEdit()"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <p>WORK LINK</p>
          <a
            routerLink="/account/edit"
            routerLinkActive="active"
            href=""
            >Profile</a
          ><br />
          <a
            routerLink="/account/changepassword"
            routerLinkActive="active"
            href=""
            >Change Password</a
          ><br />
          <a
            routerLink="/account/address"
            routerLinkActive="active"
            style="color: blue"
            href=""
            >Address</a
          ><br />
          <a
            routerLink="/account/wishlist"
            routerLinkActive="active"
            href=""
            >Wish list</a
          ><br />
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >

            <div class="row mt-2">
              <div class="col-md-6">
                <label>First Name</label>
              </div>
              <div class="col-md-6" *ngIf="toggleEdit == false">
                <p>{{ user.firstName }}</p>
              </div>
              <div class="col-md-6" *ngIf="toggleEdit == true">
                <input
                  [ngClass]="{
                    'is-invalid':
                      firstName.invalid &&
                      (firstName.dirty || firstName.touched)
                  }"
                  required
                  class="form-control"
                  type="text"
                  placeholder="firstName"
                  name="firstName"
                  #firstName="ngModel"
                  [(ngModel)]="addressForm.firstName"
                />
                <div
                  *ngIf="
                    firstName.invalid && (firstName.dirty || firstName.touched)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="firstName.errors?.required">
                    First name is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <label>Last Name</label>
              </div>
              <div class="col-md-6" *ngIf="toggleEdit == false">
                <p>{{ addressForm.lastName }}</p>
              </div>
              <div class="col-md-6" *ngIf="toggleEdit == true">
                <input
                  [ngClass]="{
                    'is-invalid':
                      lastName.invalid && (lastName.dirty || lastName.touched)
                  }"
                  required
                  class="form-control"
                  type="text"
                  placeholder="lastName"
                  name="lastName"
                  #lastName="ngModel"
                  [(ngModel)]="addressForm.lastName"
                />
                <div
                  *ngIf="
                    lastName.invalid && (lastName.dirty || lastName.touched)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="lastName.errors?.required">
                    Last name is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <label>Street</label>
              </div>
              <div class="col-md-6" *ngIf="toggleEdit == false">
                <p>{{ addressForm.street }}</p>
              </div>
              <div class="col-md-6" *ngIf="toggleEdit == true">
                <input
                  [ngClass]="{
                    'is-invalid':
                    street.invalid && (street.dirty || street.touched)
                  }"
                  required
                  class="form-control"
                  type="text"
                  placeholder="street"
                  name="street"
                  #street="ngModel"
                  [(ngModel)]="addressForm.street"
                />
                <div
                  *ngIf="
                  street.invalid && (street.dirty || street.touched)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="street.errors?.required">
                    Street is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <label>City</label>
              </div>
              <div class="col-md-6" *ngIf="toggleEdit == false">
                <p>{{ addressForm.city }}</p>
              </div>
              <div class="col-md-6" *ngIf="toggleEdit == true">
                <input
                  [ngClass]="{
                    'is-invalid':
                    city.invalid && (city.dirty || city.touched)
                  }"
                  required
                  class="form-control"
                  type="text"
                  placeholder="city"
                  name="city"
                  #city="ngModel"
                  [(ngModel)]="addressForm.city"
                />
                <div
                  *ngIf="
                  city.invalid && (city.dirty || city.touched)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="city.errors?.required">
                    City is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <label>State</label>
              </div>
              <div class="col-md-6" *ngIf="toggleEdit == false">
                <p>{{ addressForm.state }}</p>
              </div>
              <div class="col-md-6" *ngIf="toggleEdit == true">
                <input
                  [ngClass]="{
                    'is-invalid':
                    state.invalid && (state.dirty || state.touched)
                  }"
                  required
                  class="form-control"
                  type="text"
                  placeholder="state"
                  name="state"
                  #state="ngModel"
                  [(ngModel)]="addressForm.state"
                />
                <div
                  *ngIf="
                  state.invalid && (state.dirty || state.touched)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="state.errors?.required">
                    State is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <label>Zip code</label>
              </div>
              <div class="col-md-6" *ngIf="toggleEdit == false">
                <p>{{ addressForm.zipcode }}</p>
              </div>
              <div class="col-md-6" *ngIf="toggleEdit == true">
                <input
                  [ngClass]="{
                    'is-invalid':
                    zipcode.invalid && (zipcode.dirty || zipcode.touched)
                  }"
                  required
                  class="form-control"
                  type="text"
                  placeholder="zipcode"
                  name="zipcode"
                  #zipcode="ngModel"
                  [(ngModel)]="addressForm.zipcode"
                />
                <div
                  *ngIf="
                  zipcode.invalid && (zipcode.dirty || zipcode.touched)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="zipcode.errors?.required">
                    Zipcode is required
                  </div>
                </div>
              </div>
            </div>



            <div class="row mt-3" *ngIf="toggleEdit == true">
              <div class="col-md-6">
                <button
                  [disabled]="!productForm.valid"
                  type="submit"
                  class="btn btn-primary my-3"
                >
                  Submit
                </button>
                <button
                  (click)="closeOrOpenToggleEdit()"
                  type="submit"
                  class="btn btn-secondary ml-2 my-3"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
