.hidescroll::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
.hidescroll::-webkit-scrollbar-thumb {
  background: #FF0000;
}
table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}




